html {
  /*
    These CSS variables establish different
    values to be used with the “box-shadow”
    property, to simulate elements being
    at different elevation levels.
  */
  --elevation-1:
    0px 0.5px 1px hsl(0deg 0% 0% / 0.2),
    0px 1px 2px hsl(0deg 0% 0% / 0.15),
    0px 2px 4px hsl(0deg 0% 0% / 0.1);
  --elevation-2:
    0px 1px 2px hsl(0deg 0% 0% / 0.2),
    0px 2px 4px hsl(0deg 0% 0% / 0.15),
    0px 4px 8px hsl(0deg 0% 0% / 0.15),
    0px 8px 16px hsl(0deg 0% 0% / 0.1);
  --elevation-3:
    0px 1px 2px hsl(0deg 0% 0% / 0.15),
    0px 2px 4px hsl(0deg 0% 0% / 0.15),
    0px 4px 8px hsl(0deg 0% 0% / 0.125),
    0px 8px 16px hsl(0deg 0% 0% / 0.125),
    0px 16px 32px hsl(0deg 0% 0% / 0.1),
    0px 32px 64px hsl(0deg 0% 0% / 0.1);
}

body {
  background: hsl(270deg 100% 80%);
}

/*
  HACK: Space out the two cards.
*/
#root {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 64px 0px;
}